<!DOCTYPE html>
<html lang="ru"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Pawly - Страница не найдена</title> 
    <link rel="stylesheet" href="../styles/style-404.css"> 
</head> 

<body> 
    <div class="background-image"></div>

    <div class="layout-wrapper">
        
        <header class="container">
            <div class="header-content">
                <div class="logo-container">
                    <img src="../img/logo.svg" alt="Pawly Logo">
                </div>

            </div>
        </header>

        <main class="container main-content error-content">
            <div class="error-card">
                <h1 class="error-title">404</h1>
                <p class="error-text">Упс! Кажется, эта страница убежала на прогулку.</p>
                <a href="../index.html" class="back-home-btn">Вернуться домой</a>
            </div>
        </main>

        <footer class="container footer">
            <div class="footer-content">
                <div class="footer-left">
                    <img src="../img/google.svg" alt="Mail">
                </div>
                <div class="copyright">©Pawly 2025</div>
            </div>
        </footer>

    </div>
</body> 
</html>