<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pawly - Статьи</title>
    <link rel="stylesheet" href="../styles/style-blog.css">
</head>
<body>

    <div class="page-wrapper">
        <header class="container">
            <div class="header-content">
                <div class="logo-container">
                    <img src="../img/logo.svg" alt="Pawly" class="logo-img">
                </div>
                <nav class="top-nav">
                    <span>Статьи</span>
                </nav>
            </div>
        </header>

        <a href="main.html" class="back-link">
            <img src="../img/arrow-left.svg" alt="Назад" class="back-arrow-icon">
            <span>Назад</span>
        </a>

        <div class="controls-row">
            <button class="icon-btn menu-btn">
                <img src="../img/burger.svg" alt="Menu" class="btn-icon">
            </button>
            
            <div class="search-bar">
                <img src="../img/find.svg" alt="Search" class="search-icon">
                <input type="text" class="search-input">
            </div>
        </div>

        <div class="articles-list">
            <article class="article-card">
                <div class="card-image-wrapper">
                    <img src="../img/cat-1.png" alt="Article Image" class="card-img">
                </div>
                <div class="card-content">
                    <h3>Что это за хвостатые существа?</h3>
                    <p>Кошки — удивительные существа, которые прочно вошли в жизнь человека и продолжают восхищать своим поведением, грацией и независимостью.</p>
                    <div class="read-more">
                        <span>Читать</span>
                        <img src="../img/arrow-right.svg" alt="->" class="read-arrow">
                    </div>
                </div>
            </article>

            <article class="article-card">
                <div class="card-image-wrapper">
                    <img src="../img/cat-2.png" alt="Article Image" class="card-img">
                </div>
                <div class="card-content">
                    <h3>Кошки это...</h3>
                    <p>кошки — домашние животные, которые могут стать питомцами и верными друзьями для человека. В статье можно рассмотреть особенности строения кошек, их поведение и уход, а также научные факты о кошках.</p>
                    <div class="read-more">
                        <span>Читать</span>
                        <img src="../img/arrow-right.svg"  alt="->" class="read-arrow">
                    </div>
                </div>
            </article>

            <article class="article-card">
                <div class="card-image-wrapper">
                    <img src="../img/cat-3.png" alt="Article Image" class="card-img">
                </div>
                <div class="card-content">
                    <h3>Почему кошки мяукают?</h3>
                    <p>Мяуканье кошек — это способ общения, который они используют исключительно для взаимодействия с людьми, а не с другими животными.</p>
                    <div class="read-more">
                        <span>Читать</span>
                        <img src="../img/arrow-right.svg" alt="->" class="read-arrow">
                    </div>
                </div>
            </article>
            
        </div>

        <div class="pagination">
            <button class="page-btn">1</button>
            <button class="page-btn">2</button>
            <button class="page-btn">3</button>
            <button class="page-btn">4</button>
        </div>

        <div class="send-email-info">
            <div class="cat-container">
                <img src="../img/lying-cat.png" alt="Cat" class="cat-img">
            </div>
            <p class="info-text">Для отправки своей статьи, напишите нам на почту.</p>
        </div>

        <footer class="container footer">
            <div class="footer-content">
                <div class="footer-left">
                    <a href="#">
                        <img src="../img/google.svg" alt="G">
                    </a>                
                    </div>
                <div class="copyright">©Pawly 2025</div>
            </div>
        </footer>

    </div>
</body>
</html>