<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pawly - Главная</title>
    <link rel="stylesheet" href="../styles/style-main.css">
</head>
<body>

    <div class="background-image"></div>

    <div class="layout-wrapper">
        
        <header>
            <div class="grid-wrapper header-grid">
                <div class="logo-container">
                    <img src="../img/logo.svg" alt="Pawly Logo">
                </div>
                <nav class="nav-area">
                    <a href="blog.html" class="nav-item">Статьи</a>
                    <a href="#" class="nav-item">О нас</a>
                    <a href="profilep.html" class="nav-item">Профиль</a>
                </nav>
            </div>
        </header>

        <section class="widget">
            <div class="grid-wrapper widget-content-grid">
                
                <div class="widget-glass-card">
                    <h1 class="main-title">Вы живете вместе уже 20 дней!</h1>
                    
                    <div class="widget-visuals">
                        <div class="circle-img">
                            <img src="../img/cat-7.jpeg" alt="Pet 1">
                        </div>

                        <div class="line-container">
                            <img src="../img/dashed.svg" alt="Line" class="dashed-line-img">
                        </div>

                        <div class="circle-img">
                            <img src="../img/human.png" alt="Human">
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="article">
            <div class="grid-wrapper article-header">
                <h2>Мини-статьи дня</h2>
            </div>
            
            <div class="article-slider-container">
                <div class="grid-wrapper article-grid">
                    <div class="arrow-container left">
                        <img src="../img/arrow-left.svg" alt="Left" class="arrow-icon">
                    </div>
                    <div class="article-card center-card">
                        <img src="../img/cat-8.png" alt="Pet" class="pet-img">
                        <div class="article-content">
                            <h3>Котики‑терапевты</h3>
                            <p>Котики способны снижать уровень стресса и тревожности у хозяев своим мурлыканьем и ласковым поведением. Исследования показывают, что поглаживание кошки нормализует давление и улучшает настроение.</p>
                        </div>
                    </div>
                    <div class="arrow-container right">
                        <img src="../img/arrow-right.svg" alt="Right" class="arrow-icon">
                    </div>
                </div>
                <div class="article-card side-card side-left">
                    <img src="../img/dog-1.png" alt="Pet" class="pet-img">
                    <div class="article-content">
                        <h3>Верные друзья‑собаки</h3>
                        <p>Собаки обладают удивительной способностью чувствовать эмоции человека и поддерживать его в трудные моменты. Их преданность и жизнерадостность делают каждый день ярче и наполняют жизнь смыслом.</p>
                    </div>
                </div>
                <div class="article-card side-card side-right">
                    <img src="../img/hamster.png" alt="Pet" class="pet-img">
                    <div class="article-content">
                        <h3>Хомячки: маленькие, но очаровательные</h3>
                        <p>Хомячки — идеальные питомцы для тех, кто хочет завести небольшое и неприхотливое животное. Их забавное поведение и пушистая шубка неизменно вызывают улыбку и дарят положительные эмоции.</p>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="grid-wrapper footer-grid">
                <div class="cat-area">
                    <img src="../img/lying-cat.png" alt="Black Cat" class="cat-decoration">
                </div>
                <div class="footer-content">
                    <h2>Спасибо вам</h2>
                    <p class="subtitle">за то, что выбрали наш сайт</p>
                    <div class="footer-text">
                        Мы от всего сердца создали этот уголок в интернете, чтобы ваш
                        путь с питомцем стал еще осознаннее и радостнее.<br>
                        Огромное спасибо, что выбрали наш сайт!
                    </div>
                </div>
                <div class="dog-area">
                    <img src="../img/dog.png" alt="Dog Drawing" class="dog-decoration">
                </div>
                
                <div class="footer-bottom-left">
                    <a href="#">
                        <img src="../img/google.svg" alt="G">
                    </a>
                </div>
                <div class="footer-bottom-center">
                    <span class="copyright">©Pawly 2025</span>
                </div>
                <div class="footer-bottom-right">
                    <a href="#"><img src="../img/arrow-up.svg" alt="Up" class="arrow-up"></a>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>