@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay.ttf'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher';
    src: url('../fonts/Philosopher-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Philosopher', sans-serif; 
    color: #000;
    overflow-x: hidden;
    min-height: 100vh;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('../img/background.png');
    background-size: cover;
    background-position: center;
}

.layout-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

header {
    padding-top: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    height: 50px;
    width: auto;
}

.login-container {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.login-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.login-container:hover .login-link {
    text-decoration: underline;
}

.login-icon {
    padding-left: 10px;
    height: 16px;
    width: auto;
    vertical-align: middle;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px; 
    padding-bottom: 50px;
}

.main-title {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
    color: #000000;
    line-height: 1.2;
}

.features-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 5%;
}

.feature-card {
    background-color: rgba(255, 255, 255, 0.43);
    padding: 20px 30px;
    border-radius: 15px;
    max-width: 480px;
}

.feature-card ul {
    list-style-position: inside;
    padding-left: 10px;
}

.feature-card li {
    font-size: 20px;
    line-height: 1.5;
    color: #000000;
}

.footer {
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-left img {
    height: 30px;
    width: auto;
    display: block;
}

.copyright {
    font-size: 20px;
    color: #000000;
}

@media (max-width: 768px) {
    .logo-container img {
        height: 35px;
    }

    .main-content {
        padding-top: 40px;
    }

    .main-title {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .features-container {
        padding-left: 0;
        align-items: center;
    }

    .feature-card {
        max-width: 100%;
        padding: 15px 20px;
    }
    .feature-card li {
        font-size: 15px;
    }
    .copyright {
        font-size: 15px;
    }   

}